In [1]:
# #Dictionary
# Indexing
# Multiple and duplicate data
# Ordered
# Mutable

In [2]:
# d = {<key>:<value>,<key>:<value>,<key>:<value>,<key>:<value>}
# d

In [3]:
d = {'a':'Apple','b':'Ball','c':'Cat'}
print(d)
print(len(d))

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}
3

In [4]:
print(d['a'])
print(d['b'])

Apple
Ball

In [5]:
# duplicate(a= apple,and)
d = {'a':'Apple','b':'Ball','c':'Cat','a':'Ant'}
d

{'a': 'Ant', 'b': 'Ball', 'c': 'Cat'}

In [6]:
d = {}
d['a'] = "Apple"
d['b'] = "Ball"
d['c'] = "Cat"
d

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}

In [7]:
for i in d:
    print(i)

a
b
c

In [9]:
for i in d.values():
    print(i)

Apple
Ball
Cat

In [10]:
for i in d.items():
    print(i)

('a', 'Apple')
('b', 'Ball')
('c', 'Cat')

In [11]:
l = []
for i in d.items():
    l.append(i)
l

[('a', 'Apple'), ('b', 'Ball'), ('c', 'Cat')]

In [12]:
dict(l)

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}

In [17]:
# WAP to create a dict taking values from users
d = {}
n = int (input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    phone = input("Enter phone = ")
    d[name] = phone
print(d)

Enter n = 3
Enter name = Ram
Enter phone = 9876543210
Enter name = sambhav
Enter phone = 9807654321
Enter name = Prajan
Enter phone = 9867540321
{'Ram': '9876543210', 'sambhav': '9807654321', 'Prajan': '9867540321'}

In [18]:
# no + * (operqtors)

In [19]:
a = {'Ram': '9876543210', 'sambhav': '9807654321'}
b = {'Prajan': '9867540321'}
a.update(b)
a

{'Ram': '9876543210', 'sambhav': '9807654321', 'Prajan': '9867540321'}

In [20]:
#update(phn num change)
a = {'Ram': '9876543210', 'sambhav': '9807654321', 'Prajan': '9867540321'}
d['Ram'] = 9123456780
d

{'Ram': 9123456780, 'sambhav': '9807654321', 'Prajan': '9867540321'}

In [21]:
# Add
a = {'Ram': '9876543210', 'sambhav': '9807654321', 'Prajan': '9867540321'}
d['Melyssa'] = 9123456780
d

{'Ram': 9123456780,
 'sambhav': '9807654321',
 'Prajan': '9867540321',
 'Melyssa': 9123456780}

In [13]:
#delete(del or pop)
a = {'Ram': '9876543210', 'sambhav': '9807654321', 'Prajan': '9867540321'}
del a['Ram'] 
a

{'sambhav': '9807654321', 'Prajan': '9867540321'}

In [12]:
#list inside dictionary
a = {'Shyam':[9087654321,9708654321],
     'Hari':[9608754321,9508764321],
     'Sameer':[9408765321,9308765421]}
print(a)

{'Shyam': [9087654321, 9708654321], 'Hari': [9608754321, 9508764321], 'Sameer': [9408765321, 9308765421]}

In [21]:
d={}
n=int(input("enter the n"))
for i in range(n):
    name=input("enter the name")
    ntc_no=int(input("enter the ntc no"))
    ncell_no=int(input("enter the ncell no"))
    d[name]=[ntc_no,ncell_no]  
d

enter the n2
enter the nameRam
enter the ntc no9999999999
enter the ncell no8888888888
enter the nameShyam
enter the ntc no7777777777
enter the ncell no6666666666

{'Ram': [9999999999, 8888888888], 'Shyam': [7777777777, 6666666666]}

In [22]:
#Read
print(d['Ram'])
print("NTC no of Ram",d['Ram'][0])
print("NCELL no of Ram",d['Ram'][0])

[9999999999, 8888888888]
NTC no of Ram 9999999999
NCELL no of Ram 9999999999

In [23]:
#delete
del d['Ram'][0]
d

{'Ram': [8888888888], 'Shyam': [7777777777, 6666666666]}

In [26]:
# dict inside list
d = [{'name':'Ram','age':34,'add':'Kathmandu'},
     {'name':'Shyam','age':44,'add':'Bhaktapur'},
     {'name':'Hari','age':24,'add':'Lalitpur'}]
d

[{'name': 'Ram', 'age': 34, 'add': 'Kathmandu'},
 {'name': 'Shyam', 'age': 44, 'add': 'Bhaktapur'},
 {'name': 'Hari', 'age': 24, 'add': 'Lalitpur'}]

In [32]:
l = []
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = input("Enter age = ")
    add = input("Enter add = ")
    d = {'name':name,'age':age,'add':add}
    l.append(d)
print(l)

Enter n = 2
Enter name = Ram
Enter age = 78
Enter add = Kathmandu
Enter name = Shyam
Enter age = 89
Enter add = Bhaktapur
[{'name': 'Ram', 'age': '78', 'add': 'Kathmandu'}, {'name': 'Shyam ', 'age': '89', 'add': 'Bhaktapur'}]

In [34]:
#read
print(l[0])

{'name': 'Ram', 'age': '78', 'add': 'Kathmandu'}

In [35]:
#update
l[0]['name'] = 'Rama'
l

[{'name': 'Rama', 'age': '78', 'add': 'Kathmandu'},
 {'name': 'Shyam ', 'age': '89', 'add': 'Bhaktapur'}]

In [36]:
#delete
del l[0]['add']
l

[{'name': 'Rama', 'age': '78'},
 {'name': 'Shyam ', 'age': '89', 'add': 'Bhaktapur'}]

In [40]:
#dict inside dict
d = {1:{'name': 'Rama', 'age': '78', 'add': 'Kathmandu'},
     2:{'name': 'Shyam ', 'age': '89', 'add': 'Bhaktapur'}}
d

{1: {'name': 'Rama', 'age': '78', 'add': 'Kathmandu'},
 2: {'name': 'Shyam ', 'age': '89', 'add': 'Bhaktapur'}}