In [ ]:
## python collection
# list
# tuple
# dict
# set

In [ ]:
## list
# indexing
# multiple and duplicate data
# drdered
# mutable datatype

In [1]:
a =[1,2,3,4,5,6,7,8,9]
b = [ "Apple","Ball","cat","dog"]
print(type(a))
print(type(b))

<class 'list'>
<class 'list'>

In [2]:
print(a[1])
print(b[0])

2
Apple

In [4]:
print(a[0:5])
print(a[0:5:2])

[1, 2, 3, 4, 5]
[1, 3, 5]

In [5]:
a =[1,2,3,4,5,6,7,8,9]
a

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [6]:
# = *
a = [1,2,3,4]
b = [5,6,7,8]
c = a+b
print(c)

[1, 2, 3, 4, 5, 6, 7, 8]

In [7]:
a = [1,2,3,4]
print(a*2)

[1, 2, 3, 4, 1, 2, 3, 4]

In [58]:
b = [ "Apple","Ball","cat","dog"]
for i in b:
    print(i)

Apple
Ball
cat
dog

In [9]:
l = []
n = int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter x = "))
    l = l+[x]
    print(l)

Enter n = 3
Enter x = 5
[5]
Enter x = 7
[5, 7]
Enter x = 9
[5, 7, 9]

In [12]:
print("Max value = ",max(l))
print("Min value = ",min(l))
print("sum = ",sum(l))
l.sort()
print(l)

Max value =  9
Min value =  5
sum =  21
[5, 7, 9]

In [13]:
print("Max value = ",max(l))
print("Min value = ",min(l))
print("sum = ",sum(l))
l.reverse()
print(l)

Max value =  9
Min value =  5
sum =  21
[9, 7, 5]

In [14]:
b = [ "Apple","Ball","cat","dog"]
b.sort()
print(b)

['Apple', 'Ball', 'cat', 'dog']

In [15]:
# # insert data
# append() insert() extend()

# delete data
# del remove() pop()

In [23]:
l = []
n = int(input("Enter n = "))
for i in range(n):
    x = (input("Enter x = "))
    l.append(x)
print(l)

Enter n = 2
Enter x = apple
Enter x = ball
['apple', 'ball']

In [21]:
a = [ "Ball","cat","dog","fish","ant","egg"]
a.insert(1,"Apple")
a

['Ball', 'Apple', 'cat', 'dog', 'fish', 'ant', 'egg']

In [24]:
a = [ "Ball","cat","dog","fish","ant","egg"]
a.insert(4,"Apple")
a

['Ball', 'cat', 'dog', 'fish', 'Apple', 'ant', 'egg']

In [25]:
a = [1,2,3,4,5,6]
b = [5,6,7,8,9]
a.extend(b)
a

[1, 2, 3, 4, 5, 6, 5, 6, 7, 8, 9]

In [26]:
# delete data
# del remove() pop()
a = [ "Ball","cat","dog","fish","ant","egg"]
del a[1]
print(a)

['Ball', 'dog', 'fish', 'ant', 'egg']

In [27]:
# delete()
del a[0:3]
print(a)

['ant', 'egg']

In [30]:
# remove()
a = [ "Ball","cat","dog","fish","ant","egg"]
a.remove('Ball')
print(a)

['cat', 'dog', 'fish', 'ant', 'egg']

In [31]:
# multiple same
a = [ "Ball","cat","dog","fish","ant","egg","Ball"]
a.remove('Ball')
print(a)

['cat', 'dog', 'fish', 'ant', 'egg', 'Ball']

In [32]:
# multiple same
a = [ "Ball","cat","dog","fish","ant","egg","Ball"]
c = a.count('Ball')
for i in range(c):
    a.remove('Ball')
a

['cat', 'dog', 'fish', 'ant', 'egg']

In [33]:
# moving fish in data
a = [ "Ball","cat","dog","fish","ant","egg","Ball"]
data = a.pop(3)
print(data)

fish

In [34]:
#print data and a
a = [ "Ball","cat","dog","fish","ant","egg","Ball"]
data = a.pop(3)
print(data)
print(a)

fish
['Ball', 'cat', 'dog', 'ant', 'egg', 'Ball']

In [36]:
#update
a = [ "Ball","cat","dog","fish","ant","egg","Ball"]
a[0] = 'ball'
a

['ball', 'cat', 'dog', 'fish', 'ant', 'egg', 'Ball']

In [38]:
#index  
a = [ "Ball","cat","dog","fish","ant","egg","Ball"]
a.index('ant')

4

In [39]:
#index  (find multiple index)
a = [ "Ball","cat","dog","fish","ant","egg","Ball"]
l = len(a)
for i in range(l):
    print(a[i])

Ball
cat
dog
fish
ant
egg
Ball

In [43]:
a = [ "Ball","cat","dog","fish","ant","egg","Ball"]
l = len(a)
for i in range(l):
    if "Ball" == a[i]:
    print(i)

0
6

In [50]:
#search
a = [ "Ball","cat","dog","fish","ant","egg","Ball"]
if "fish" in a:
    print("Yes")
    print(a.count("fish"))

Yes
1

In [52]:
c = 0
a = [ "Ball","cat","dog","fish","ant","egg","Ball"]
value = input("enter value = ")
l = len(a)
for i in range(l):
    if "Ball".lower() == a[i].lower():
     c = c+1
if c>0:
    print(f"Yes ther are/is {c} no of {value}")

enter value = Ball
Yes ther are/is 2 no of Ball

In [53]:
# list inside list
a = [[1,2,3],
    [4,5,6],
    [7,8,9]]
print(a)
print(len(a))

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
3

In [54]:
print(a[0])
print(a[1])
print(a[2])

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [55]:
# to print the num inside of [1,2,3]
a = [[1,2,3],
    [4,5,6],
    [7,8,9]]
print(a[0][0])  #1st [0] represent row and 2nd [0] represnt column

1

In [56]:
a = [[1,2,3],
    [4,5,6],
    [7,8,9]]
print(a[1][2])

6

In [57]:
a = [['Ram',45,"Kathmandu"],
    ['shyam',34,"Bhaktapur"],
    ['hari',67,"Lalitpur"]]
print(a)

[['Ram', 45, 'Kathmandu'], ['shyam', 34, 'Bhaktapur'], ['hari', 67, 'Lalitpur']]

In [ ]:
l = []
n = int(input("enter n = "))
for i in range(n):
    a = [['Ram',45,"Kathmandu"],
    ['shyam',34,"Bhaktapur"],
    ['hari',67,"Lalitpur"]]
    
    
print(a)

In [ ]:
#WAP to create a matrix
r =?
c =?
x =?
# WAp to