In [1]:
# for loop
# while loop

In [ ]:
#for loop
#range(5)        #0,1,2,3,4                 #for(i=0; i<5; i++)
#range(1,5)      #1,2,3,4                   #for(i=1; i<5; i++)
#range(1,10,2)   #1,3,5,7,9                 #for(i=0; i<10; i++) #1(initiliazation) 10(limit) 2(increament)

In [5]:
for i in range(5):
    print(i,"hello world")

0 hello world
1 hello world
2 hello world
3 hello world
4 hello world

In [6]:
for i in range(1,5):
    print(i,"Hello world")

1 Hello world
2 Hello world
3 Hello world
4 Hello world

In [7]:
for i in range(1,10,2):
    print(i,"Hello world")

1 Hello world
3 Hello world
5 Hello world
7 Hello world
9 Hello world

In [8]:
n = int(input("Enter n = "))
for i in range(1,11):
    print(n*i)

Enter n = 5
5
10
15
20
25
30
35
40
45
50

In [11]:
n = int(input("Enter n = "))
for i in range(1,11):
    print(n, "*", i, "=", n*i)

Enter n = 3
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

In [12]:
s = 0
n = 2
for i in range(n):
    x = int(input("Enter x = "))
    s = s+x
    print("sum = ",s)

Enter x = 100
sum =  100
Enter x = 200
sum =  300

In [13]:
s = 0
n = int(input("enter n = "))
for i in range(n):
    x = int(input("Enter x = "))
    s = s+x
    print("sum = ",s)

enter n = 3
Enter x = 100
sum =  100
Enter x = 200
sum =  300
Enter x = 300
sum =  600

In [19]:
s = str() 
n = int(input("enter n = "))
for i in range(n):
    x = (input("Enter x = "))
    s = s + x + "\n"
print(s)

enter n = 2
Enter x = Apple
Enter x = Ball
Apple
Ball

In [29]:
s = str() 
n = int(input("enter n = "))
for i in range(n):
    name = (input("Enter name = "))
    phone =(input("enter phone = "))
    s = s + name + "\t" + phone + "\n"
print(s)

enter n = 2
Enter name = prajan
enter phone = 9876543210
Enter name = ram
enter phone = 0987654321
prajan	9876543210
ram	0987654321

In [28]:
#WAP to calculate the factorial
#5! = 1*2*3*4*5

fac = 1
n = int(input("Enter n = "))
for i in range(1,n+1):
    fac = fac * i
    print(fac)

Enter n = 2
1
2

In [26]:
for i in range(5,-1,-1):
    print(i)

5
4
3
2
1
0

In [30]:
# for loop in string
a = "Hello world"
for i in a:
    print(i)

H
e
l
l
o

w
o
r
l
d

In [32]:
# for loop in string
a = "Hello world"
for i in a:
    print(i, end = ".")

H.e.l.l.o. .w.o.r.l.d.

In [37]:
a = "Hello world, I am python"
for i in a:
    if i != "." and i != " ":
     print(i,end = "")

Helloworld,Iampython

In [42]:
a = "Hello world, I am python"
for i in a:
    if i == "," or i == " ":
      print(i,end = "")

 ,

In [ ]:
# control statement
# break
# continous
# pass

In [44]:
for i in range(10):
    if i == 5:
        break   #break is uesd to stop
    print(i)

0
1
2
3
4

In [45]:
for i in range(10):
    if i == 5:
        continue  #continue is used to skip
    print(i)

0
1
2
3
4
6
7
8
9

In [46]:
for i in range(10):
    if i == 5:
        pass
    print(i)

0
1
2
3
4
5
6
7
8
9

In [47]:
a = "hello world, I am python. I am best."
for i in a:
    if i == ".":
        break
    print(i,end = "")

hello world, I am python

In [48]:
a = "hello world, I am python. I am best."
for i in a:
    if i == ".":
        continue
    print(i,end = "")

hello world, I am python I am best

In [50]:
#pass
if True:
    pass

In [51]:
for i in range(10):
    print(i*"*")

*
**
***
****
*****
******
*******
********
*********

In [54]:
for i in range(10):
    print(" "*i,i*"*")

  *
   **
    ***
     ****
      *****
       ******
        *******
         ********
          *********

In [ ]:
1 #While loop
2 #while <condition>:
  # <coperation>

In [ ]:
while True:
    print("hello world")

In [3]:
i = 0
while i<5:
    print("hello world")
    i = i+1

hello world
hello world
hello world
hello world
hello world

In [4]:
i = 1
while i<5:
    print("hello world")
    i = i+1

hello world
hello world
hello world
hello world

In [7]:
#multiplicaition table using while loop
i = 0
n = int(input("Enter n = "))
while i<=10:
    print(n, '*', i, '=', n*i)
    i =i+1

Enter n = 5
5 * 0 = 0
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [8]:
s = 0
i = 0
n = int(input("Enter n = "))
while i<n:
    x = int (input("Enter x = "))
    s = s+x
    print("sum = ",s)
    i = i+1

Enter n = 2
Enter x = 27
sum =  27
Enter x = 33
sum =  60

In [12]:
s = ""
i = 1
n =int(input("Enter n = "))
while i<=n:
    x = input("enter x = ")
    s = s+x
    i = i+1
    
    
print(s)

Enter n = 2
enter x = ram
ram

In [ ]:
# control statement
# break
# continous
# pass

In [15]:
i = 0
while i<=10:
    if i==5:
     break
    print(i)
    i = i+1

0
1
2
3
4

In [18]:
#finite loop
i = 0
while i<=10:
    if i==5:
      i =i+1
      continue
    print(i,end = " ")
    i = i+1

0 1 2 3 4 6 7 8 9 10

In [19]:
#infinite loop
i = 0
while i<=10:
    if i==5:
      continue
    print(i,end = " ")
    i = i+1

0 1 2 3 4

KeyboardInterrupt:

In [20]:
#string
a = "python"
print(0)

0

In [24]:
#string
i = 0
a = "python"
l = len(a)
while i<l:
    print(a[i])
    i = i+1

p
y
t
h
o
n

In [26]:
i = 0
a = "Hello world. I am Python."
while i<len(a):
    if a[i] != ".":
      print(a[i],end = "")
    i = i+1

Hello world I am Python

In [35]:
i = 0
a = "Hello world. I am Python."
while i<len(a):
    if a[i] == ".":
        break
    print(a[i],end = "")
    i = i+1
print('.')

Hello world.

In [ ]:
# WAP to create a billing system
# name
# price
# quantity
# total
# Output:
#     Momo 1 200 200
#     coke 2 100 200

# WAP to create a result management system
# name physics chemistry math english nepali total per grade


# WAP to detect prime or composite number

In [47]:
i=1
p=''
n = int(input("Enter the num"))
while i<=n:
    
            a=input("Enter name")
            b=input("price")
            c=input("Quantity")
            z=str(int(b)*int(c))
            p=p+a+'\t'+b+'\t'+c+'\t'+z+'\n'
            i=i+1
print("name",'\t',"rice",'\t',"quantity",'\t',"total",'\n') 
print(p)

Enter the num3
Enter namemomo
price120
Quantity2
Enter namechowmein
price110
Quantity3
Enter namesamosa
price30
Quantity4
name 	 rice 	 quantity 	 total

momo	120	2	240
chowmein	110	3	330
samosa	30	4	120

In [4]:
#same as above
bill = ""
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    price = int(input("Enter price = "))
    quantity = float(input("Entr quantity = "))
    total = price * quantity
    bill = bill + f"{name} {price} {quantity} {total}\n"
    print(bill)

Enter n = 3
Enter name = momo
Enter price = 120
Entr quantity = 2
momo 120 2.0 240.0

Enter name = chowmein
Enter price = 110
Entr quantity = 3
momo 120 2.0 240.0
chowmein 110 3.0 330.0

Enter name = samosa
Enter price = 30
Entr quantity = 4
momo 120 2.0 240.0
chowmein 110 3.0 330.0
samosa 30 4.0 120.0

In [26]:
a= "ra shayam hari sita gita sameer"
if "ram" in a:
    print("yes")
    print(a.count(name))
    
else :
    print("no")

no

In [25]:
a= "ram shayam hari sita gita sameer"
name =input("enter the name")


if name in a:

    print("yes")
    print(a.count(name))
    
else :
    print("no")

enter the nameram
yes
1

In [22]:
a= "ram shayam hari sita gita sameer"
print(a.upper())
print(a.lower())
print(a)

RAM SHAYAM HARI SITA GITA SAMEER
ram shayam hari sita gita sameer
ram shayam hari sita gita sameer

In [21]:

a= "ram shayam hari sita gita sameer".lower()
name =input("enter the name").lower()


if name in a:

    print("yes")
    print(a.count(name))
    
else :
    print("no")

enter the nameram
yes
1

In [20]:
#string search nsequence of character(here ram is 2{in ramesh})
a= "ram shayam hari sita gita sameer ramesh".lower()
name =input("enter the name").lower()


if name in a:

    print("yes")
    print(a.count(name))
    
else :
    print("no")

enter the nameram
yes
2

In [19]:
#replace and same
a= "ram shayam hari sita gita sameer ramesh"
print(a.replace('ram','rama'))
print(a)

rama shayam hari sita gita sameer ramaesh
ram shayam hari sita gita sameer ramesh

In [18]:
#replace
a= "ram shayam hari sita gita sameer ramesh"
a = a.replace('ram','rama')
print(a)

rama shayam hari sita gita sameer ramaesh

In [17]:
#delete
a= "ram shayam hari sita gita sameer ramesh"
a = a.replace('ram','')
print(a)

 shayam hari sita gita sameer esh

In [28]:
#slicing
a= "ram shayam hari sita gita sameer ramesh"
b = a[0:3]
print(b)

ram

In [29]:
#slicing
a= "ram shayam hari sita gita sameer ramesh"
b = a[0:10]
print(b)

ram shayam

In [37]:
#string search nsequence of character
a = "ram shayam hari sita gita sameer ramesh".lower()
name =input("enter the name").lower()


if name in a:

    print("yes")
    print(a.count(name))
    
else :
    print("no")

enter the nameram
yes
2

In [36]:
a = "ram shayam hari sita gita sameer ramesh"
print(a.title())

Ram Shayam Hari Sita Gita Sameer Ramesh

In [35]:
a = "ram shayam hari sita gita sameer ramesh"
print(a.split())

['ram', 'shayam', 'hari', 'sita', 'gita', 'sameer', 'ramesh']

In [34]:
a = "ram shayam hari sita gita sameer ramesh"
print(a.split(','))

['ram shayam hari sita gita sameer ramesh']

In [38]:
a ='''!@#$%%^&*'''
a

'!@#$%%^&*'

In [39]:
#isdigit
a = "100"
a.isdigit()

True

In [46]:
# isupper() islower()
a = "ram shayam hari sita gita sameer ramesh"
a.isupper()

False

In [44]:
a = "ram shayam hari sita gita sameer ramesh"
a.islower()

True

In [48]:
# join()
a = ""
b = ["Hello","World"]
print(a.join(b))

HelloWorld