In [1]:
# # set
# -Noindexing support
# -unordered
# -Multiple data but  no duplicate
# -Mutable

In [2]:
s = set()
s = {1,2,3,4,5,6,7,8,9}
t = ("Apple","Ball","Cat","Dog","Fish")
print(s)
print(t)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
('Apple', 'Ball', 'Cat', 'Dog', 'Fish')

In [3]:
t

('Apple', 'Ball', 'Cat', 'Dog', 'Fish')

In [13]:
# no indexing
t = {"Apple","Ball","Cat","Dog","Fish"}
t[0]

TypeError: 'set' object is not subscriptable

In [12]:
t = {"Apple","Ball","Cat","Dog","Fish"}
for i in t:
    print(i)

Ball
Fish
Dog
Cat
Apple

In [14]:
t = {"Apple","Ball","Cat","Dog","Fish","Apple"}
t

{'Apple', 'Ball', 'Cat', 'Dog', 'Fish'}

In [16]:
l = [1,2,3,4,5,6,2,3,4,5,6,7,8,9,0,3,4,6]
s = set(l)
l = list(s)
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [17]:
t = {1,2}   #set   #t={1:2}dictionary
type(t)

set

In [1]:
# adding values in set
s = set()
n = int(input("Enter n = "))
for i in range(n):
    x = input("Enter x = ")
    s.add(x)
print(s)

Enter n = 5
Enter x = Apple
Enter x = Ball
Enter x = Cat
Enter x = Dog
Enter x = Fish
{'Cat', 'Dog', 'Fish', 'Apple', 'Ball'}

In [6]:
# remove data from set
a = {'Cat', 'Dog', 'Fish','Ball','Apple'}
a.remove('Cat')
a

{'Apple', 'Ball', 'Dog', 'Fish'}

In [7]:
#update
a = {'Cat', 'Dog', 'Fish','Ball','Apple'}
b = {1,2,3,4,5,6,7,8,9,0}
a.update(b)
a

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 'Apple', 'Ball', 'Cat', 'Dog', 'Fish'}

In [8]:
#intersection()
a={'a','e','i','o','u'}
b={'a','b','c','d','e'}
print(a.intersection(b))

{'e', 'a'}

In [ ]:
`