In [4]:
import mysql.connector
#importing database
database = mysql.connector.connect(
            host="localhost",
            user="root",
            password="",
            database = "class_8am"
        )
db = database.cursor()

In [5]:
sql='''INSERT INTO `student` (`sn`, `name`, `physics`, `chemistry`, `maths`, `english`, `nepali`, `total`, `per`, `grade`) 
VALUES ('1', 'Ram ', '89', '75', '99', '84', '76', '465', '83', 'A')'''

db.execute(sql)

database.commit()
print(db.rowcount, "record inserted.")

1 record inserted.

In [11]:
name = input("Enter your name = ")
phy=int(input("enter the obtained marks in physics"))
chem=int(input("enter the obtained marks in chemistry"))
math=int(input("enter the obtained marks in math"))
eng=int(input("enter the obtained marks in english"))
nep=int(input("enter the obtained marks in nepali"))
total=phy+chem+math+eng+nep
per=int(total/5)
print("your total prcentage is  ",per)
if (per>80) or (per==80):
    grade = 'A'
elif (per>60) or (per==60):
    grade = 'B'
elif (per>40) or (per==40):
    grade = 'C'
else:
    grade = 'F'
sql=f'''INSERT INTO `student` ( `name`, `physics`, `chemistry`, `maths`, `english`, `nepali`, `total`, `per`, `grade`) 
VALUES ( '{name}', '{phy}', '{chem}', '{math}', '{eng}', '{nep}', '{total}', '{per}', '{grade}')'''

db.execute(sql)

database.commit()
print(db.rowcount, "record inserted.")   
    
print("The total = ",total)
print("The per = ",per)
print("grade = ",grade)

Enter your name = prajan
enter the obtained marks in physics78
enter the obtained marks in chemistry89
enter the obtained marks in math7
enter the obtained marks in english789
enter the obtained marks in nepali9
your total prcentage is   194
1 record inserted.
The total =  972
The per =  194
grade =  A

In [14]:
# Update
sql = "UPDATE student SET name = 'Kabir' WHERE sn = 0"

mycursor.execute(sql)

db.commit()

print(mycursor.rowcount, "record(s)sffected")

NameError: name 'mycursor' is not defined