In [1]:
# Tuple
# inndexing
# multiple and duplicate
# Imutable

In [2]:
t = tuple()
t = ()
print(type(t))

<class 'tuple'>

In [3]:
t = (1,2,3,4,5)
a = ("Apple","Ball","Cat","Dog","Fish")
print(a)
print(t)

('Apple', 'Ball', 'Cat', 'Dog', 'Fish')
(1, 2, 3, 4, 5)

In [4]:
a = ("Apple","Ball","Cat","Dog","Fish")
print(a[0])
print(a[0:5])
print(a[0:5:2])

Apple
('Apple', 'Ball', 'Cat', 'Dog', 'Fish')
('Apple', 'Cat', 'Fish')

In [5]:
# # Imutable
# No append(), insert(), extend()
# no update
# no delete
# no sort

In [6]:
# concatination
a = ("Apple","Ball","Cat")
b = ("Dog","Fish","Apple")
c = a+b
print(c)

('Apple', 'Ball', 'Cat', 'Dog', 'Fish', 'Apple')

In [7]:
a = ("Apple")
type(a)

str

In [8]:
a = (1)
type(a)

int

In [9]:
a = ("Apple",)  #when its comma at last then it is tuple if not then its integer
type(a)

tuple

In [10]:
a = ()
a = ("Ball",)
c = a+b
c

('Ball', 'Dog', 'Fish', 'Apple')

In [5]:
t=()
n=int(input("enter the n= "))
for i in range(n):
    x=int(input("entre the x= "))
    t=t+(x,)
    
print(t)

enter the n= 5
entre the x= 56
entre the x= 76
entre the x= 87
entre the x= 87
entre the x= 098
(56, 76, 87, 87, 98)

In [13]:
# sum() max() min()
print("Sum = ",sum(t))
print("max = ",max(t))
print("min = ",min(t))

Sum =  1092
max =  345
min =  45

In [14]:
# index
a = ('Goat','Fish','Ant','Apple','Egg')
a.index('Ant')

2

In [7]:
# index
a = ('Goat','Fish','Ant','Apple','Egg')
l = len(a)
for i in range(l):
    print(a[i])

Goat
Fish
Ant
Apple
Egg

In [8]:
# list
a = ('Goat','Fish','Ant','Apple','Egg','Fish')
b = list(a)
b

['Goat', 'Fish', 'Ant', 'Apple', 'Egg', 'Fish']

In [9]:
del b[0]
a = tuple(b)
a

('Fish', 'Ant', 'Apple', 'Egg', 'Fish')

In [10]:
# tuple to list
a = ('Goat','Fish','Ant','Apple','Egg','Fish')
b = list(a)
del b[0]
a = tuple(b)
a

('Fish', 'Ant', 'Apple', 'Egg', 'Fish')

In [11]:
#too sort use(sorted)
a = ('Goat','Fish','Ant','Apple','Egg','Fish')
sorted(a)

['Ant', 'Apple', 'Egg', 'Fish', 'Fish', 'Goat']

In [12]:
# tuple inside tupple
t = {}
a = (("Ram",78,"Kathmandu"),
    ("Shyam",45,"Bhaktapur"))

TypeError: unsupported operand type(s) for +: 'dict' and 'tuple'

In [14]:
# tuple inside tuple
# tuple inside tuple

t=()
n=int(input("enter the n= "))
for i in range(n):
    name=(input("entre the name= "))
    age=int(input("enter the age"))
    add=input("enter thr adress")
    
    t=t+((name,age,add),)
t

enter the n= 3
entre the name= Ram
enter the age19
enter thr adressThimi
entre the name= Sambhav
enter the age19
enter thr adresshome
entre the name= melyssa
enter the age18
enter thr adresshouse

(('Ram', 19, 'Thimi'), ('Sambhav', 19, 'home'), ('melyssa', 18, 'house'))